@import "../../assets/scss/media";

.video-description-popup {
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    background-color: rgba(#222, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    .video-description {
        width: 100%;
        height: 100%;
        position: relative;
        animation: animateScale 0.5s ease forwards;
        .video-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90vw;
            max-width: 1000px;
            //height: 80vh;
            overflow: hidden;
            @include lg {
                width: 65vw;
            }
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .close-popup {
        cursor: pointer;
        position: absolute;
        top: 0%;
        right: 0%;
        color: var(--white);
        font-weight: 600;
        font-size: 23px;
        padding: 20px 40px;
        i {
            transition: all 0.4s ease;
            &:hover {
                transform: rotate(90deg) scale(1.4);
            }
        }
    }
}

.video-description-popup.open {
    opacity: 1;
    visibility: visible;
}

@keyframes animateScale {
    from {
        transform: scale(0.4);
    }
    to {
        transform: scale(1);
    }
}
