@import "../../../../assets/scss/media";

.header-top {
    width: 100%;
    border-bottom: 1px solid var(--border-light);
    padding: 15px 0px;
    font-size: 13px;
    .header-top-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: var(--body-text);
        .left {
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            @include sm {
                width: auto;
                text-align: start;
                justify-content: left;
            }
        }
        .right {
            display: none;
            align-items: center;
            .translate {
                display: flex;
                align-items: center;

                .item-translate {
                    cursor: pointer;
                    position: relative;
                    margin-right: 20px;
                    transition: all 0.3s ease;
                    &:last-child {
                        margin-right: 0px;
                    }
                    @include md {
                        &:last-child {
                            margin-right: 20px;
                        }
                    }
                    // &:last-child {
                    //     margin-right: 0px;
                    // }
                    .title {
                        display: flex;
                        align-items: center;
                        p {
                            margin-right: 5px;
                        }
                        i {
                            font-size: 10px;
                        }
                    }
                    .box-dropdown {
                        transition: all 0.3s ease;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 5px 5px;
                        background-color: var(--white);
                        opacity: 0;
                        box-shadow: 0px 0px 20px 0px rgba(#333, 0.3);
                        transform: translateY(-30%);
                    }
                    &:hover {
                        .box-dropdown {
                            opacity: 1;
                            transform: translate(0);
                        }
                    }
                }
            }
            .menu-sub {
                display: none;
                align-items: center;
                height: 100%;
                border-left: 1px solid var(--border-light);
                p {
                    cursor: pointer;
                    transition: all 0.3s ease;
                    margin-left: 20px;
                    &:hover {
                        color: var(--primary);
                    }
                }
                @include md {
                    display: flex;
                }
            }
            @include sm {
                display: flex;
            }
        }
    }
}
