@import "../../../assets/scss/media";

.custom-list-product {
    padding: 20px 0px;
    width: 100%;
    //background-color: burlywood;
    .item-product {
        //min-height: 400px;
        //height: 360px;
        height: 395px;

        // @include sm {
        //     height: 410px;
        // }
        // @include md {
        //     height: 395px;
        // }
        @include lg {
            height: 395px;
        }
        @include xl {
            height: 395px;
        }
    }
}
