.filter-product-popup {
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#222, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    .filter-product-popup-box {
        animation: animateBackInLeft 0.4s ease forwards;
        transform: translateX(-100%);
        transition: all 0.4s ease;
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--white);
        min-width: 300px;
        max-width: 310px;
        width: 40vh;
        height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0px 20px;
        p.main-title {
            font-weight: 600;
            font-size: 16px;
        }
        .list-filter-box {
            .filter-box {
                padding: 30px 0px;
                border-bottom: 3px solid #e1e1e1;
                &:last-child {
                    border-bottom: none;
                }

                .box-list-option {
                    > .item-option {
                        user-select: none !important;
                        transition: all 0.3s ease;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        padding: 12px 0px;
                        font-size: 0.85rem;
                        border-bottom: 1px solid var(--border-light);
                        &:last-child {
                            border-bottom: none;
                        }
                        .input-box {
                            display: flex;
                            align-items: center;
                            input[type="checkbox"] {
                                position: relative;
                                width: 1rem;
                                height: 1rem;
                                cursor: pointer;
                                border: 1px solid var(--body-text);
                                //border-radius: 3px;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                cursor: pointer;
                                &::after {
                                    font-family: "Font Awesome 6 Free";
                                    font-size: 0.7rem;
                                    font-weight: 900;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    color: white;
                                    //display: none;
                                    content: "\f00c";
                                    transform: translate(-50%, -50%);
                                }
                                &:checked {
                                    background-color: #333;
                                    border: #333;
                                }
                            }
                            label {
                                font-size: 0.85rem;
                                margin-bottom: 0px;
                                margin-left: 10px;
                                cursor: pointer;
                            }
                        }

                        p.stock {
                            font-size: 0.75rem;
                            color: var(--body-text);
                        }
                        &:hover {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
        .header-filter-product {
            .box-action {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 30px 0px;
                border-bottom: 3px solid #e1e1e1;
                .btn-close-filter {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95px;
                    height: 38px;
                    border: 2px solid var(--primary);
                    color: var(--primary);
                    transition: all 0.3s ease;
                    i {
                        font-weight: 500;
                    }
                    p {
                        font-weight: 700;
                        margin-right: 7px;
                        font-size: 13px;
                    }
                    &:hover {
                        background-color: var(--primary);
                        color: var(--white);
                    }
                }
                p.clean-all {
                    margin: 5px 0px;
                    cursor: pointer;
                    font-size: 0.85rem;
                    //color: var(--primary);
                    font-weight: 500;
                }
            }
            .box-tag {
                padding: 30px 0px;
                border-bottom: 3px solid #e1e1e1;
                width: 100%;
                .list-tag {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    .item-tag {
                        margin: 5px 0px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        display: flex;
                        align-items: center;
                        margin-right: 15px;
                        padding: 0.5rem 0.65rem;
                        background-color: var(--border-light);
                        p {
                            margin-right: 10px;
                            font-size: 0.75rem;
                            //padding: 1rem 0.5rem;
                        }
                        i {
                            font-size: 0.7rem;
                        }
                        &:hover {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    }
    
    .close-popup {
        cursor: pointer;
        position: absolute;
        top: 0%;
        right: 0%;
        color: var(--white);
        font-weight: 600;
        font-size: 23px;
        padding: 20px 40px;
        i {
            transition: all 0.4s ease;
            &:hover {
                transform: rotate(90deg) scale(1.4);
            }
        }
    }

    .filter-product-popup-box.animate{
        animation: animateBackInRight 0.4s ease forwards;
    }
}

.filter-product-popup.open {
    opacity: 1;
    visibility: visible;
    .filter-product-popup-box{
        transform: translateX(0%);
    }
}

@keyframes animateBackInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes animateBackInRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

