@import "../../../assets/scss/media";

.categories-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
    //height: 500vh;
    .container {
        // margin-top: 2rem;

        .body-content {
            .select-render {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 10px;
                .left-filter {
                    //width: 60%;
                    display: flex;
                    align-items: center;
                    .filter-product {
                        width: auto;
                        .filter-box {
                            margin-right: 15px;

                            .filter-by {
                                user-select: none !important;
                                cursor: pointer;
                                // width: 8rem;
                                width: 160px;
                                height: 38px;
                                padding: 0px 15px;
                                border: 1px solid var(--border-light);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p {
                                    font-size: 13px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                i {
                                    margin-left: 8px;
                                    font-size: 0.7rem;
                                    color: #333;
                                }
                            }

                            .list-option {
                                opacity: 0;
                                transition: all 0.3s ease;
                                position: absolute;
                                z-index: 0;

                                .box-list-option {
                                    position: relative;
                                    width: 200px;
                                    background-color: var(--white);
                                    border: 1px solid var(--border-light);
                                    .item-option {
                                        user-select: none !important;
                                        transition: all 0.3s ease;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        cursor: pointer;
                                        padding: 15px 10px;
                                        font-size: 0.85rem;
                                        border-bottom: 1px solid var(--border-light);
                                        &:last-child {
                                            border-bottom: none;
                                        }
                                        .input-box {
                                            label {
                                                width: 100%;
                                                margin-bottom: 0px;
                                                margin-left: 10px;
                                                font-size: 13px;
                                                cursor: pointer;
                                            }
                                        }
                                        &:hover {
                                            background-color: var(--border-light);
                                        }
                                        &:hover {
                                            color: var(--primary);
                                        }
                                    }
                                    .item-option.active {
                                        color: var(--primary);
                                        font-weight: 500;
                                    }

                                    &::before {
                                        position: absolute;
                                        content: "";
                                        z-index: 6;
                                        top: 1%;
                                        left: 10%;
                                        transform: translate(-50%, -50%);
                                        width: 13px;
                                        height: 13px;
                                        border: 1px solid var(--border-light);
                                        background-color: var(--white);
                                        rotate: 45deg;
                                        border-right: 0;
                                        border-bottom: 0;
                                    }
                                }
                            }
                            .list-option.active {
                                opacity: 1;
                                z-index: 5;
                                display: block;
                                transform: translateY(0);
                            }
                        }
                    }
                    .btn-close-filter {
                        margin-right: 20px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 38px;
                        border: 2px solid var(--primary);
                        color: var(--primary);
                        transition: all 0.3s ease;
                        i {
                            font-weight: 500;
                        }
                        p {
                            font-weight: 700;
                            margin-right: 7px;
                            font-size: 13px;
                        }
                        &:hover {
                            background-color: var(--primary);
                            color: var(--white);
                        }
                    }
                }

                .right-filter {
                    // width: 50%;
                    .layout {
                        //background-color: antiquewhite;
                        //width: 10%;

                        .filter-grid {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            .grid {
                                i {
                                    cursor: pointer;
                                    font-size: 1.375rem;
                                    margin-left: 10px;
                                    color: #dadada;
                                }
                            }
                            .grid.active {
                                i {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
            }

            .slider-bar {
                padding-right: 30px;
                .path {
                    padding: 0px 0px 1.5rem 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    p {
                        font-size: 0.85rem;
                    }
                    i {
                        font-size: 0.8rem;
                        color: var(--body-text);
                    }
                    [class*="fa-chevron"] {
                        font-size: 0.6rem;
                        color: var(--body-text);
                    }
                    p.title {
                        color: var(--body-text);
                    }
                    p.categories {
                    }
                }
                .filter-product {
                    [class*="item-filter-"] {
                        padding: 25px 0px;
                        border-top: 3px solid #eee;
                        .title {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            transition: all 0.3s ease;
                            p {
                                font-size: 1.12rem;
                                font-weight: 600;
                            }
                            i.minus {
                                position: relative;
                                font-size: 13px;
                                transition: all 0.3s ease;
                                &::after {
                                    position: absolute;
                                    top: 0%;
                                    left: 0%;
                                    transform: translate(0%, 0%) rotate(0deg);
                                    content: "\f068";
                                    font-family: "Font Awesome 6 Free";
                                    transition: all 0.3s ease;
                                }
                            }
                            i.minus.show {
                                &::after {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) rotate(90deg);
                                    content: "\f068";
                                    font-family: "Font Awesome 6 Free";
                                }
                            }
                        }
                        .menu {
                            animation: animateBackInTopMenu 0.5s 0s forwards;
                            transition: all 0.5s ease;
                        }
                    }
                }
                .render-list-products {
                    background-color: cadetblue;
                }
                .list-product-recommend {
                    padding: 25px 0px;
                    border-top: 3px solid #eee;
                    .title {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: all 0.3s ease;
                        p {
                            font-size: 1.12rem;
                            font-weight: 600;
                        }
                    }
                    .list-product {
                        > .item-product {
                            //margin: 2rem 0px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px 0px;
                            .img-product {
                                width: 30%;
                                width: 90px;
                                height: 100px;
                                margin-right: 10px;
                                .badge {
                                    display: none;
                                }
                            }
                            .content {
                                width: 70%;
                                .box-option {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .right {
                margin-top: 1rem;
                width: 100%;
                //background-color: aqua;
                > .render-list-products {
                    width: 100%;
                    justify-content: center;
                    display: grid;
                    grid-column-gap: 17px;
                    grid-row-gap: 17px;
                    grid-template-columns: repeat(1, calc(100% / 1 - 17px));
                    grid-auto-rows: 395px;
                    p.no-product {
                        width: 200%;
                        font-size: 14px;
                        color: var(--body-text);
                    }
                    > .item-product {
                        .img-product {
                            height: 53%;
                            width: 70%;
                        }
                    }
                }

                > .render-list-products.grid-4 {
                    @include sm {
                        grid-template-columns: repeat(2, calc(100% / 2 - 17px));
                        grid-auto-rows: 365px;
                        > .item-product {
                            > .img-product {
                                height: 45%;
                            }
                        }
                    }
                    @include md {
                        grid-template-columns: repeat(3, calc(100% / 3 - 17px));
                        grid-auto-rows: 340px;
                        > .item-product {
                            > .img-product {
                                height: 50%;
                            }
                        }
                    }
                    @include lg {
                        grid-column-gap: 20px;
                        grid-template-columns: repeat(3, calc(100% / 3 - 20px));
                        grid-auto-rows: 365px;
                    }
                    @include xl {
                        grid-column-gap: 20px;
                        grid-template-columns: repeat(4, calc(100% / 4 - 20px));
                        grid-auto-rows: 390px;
                    }
                }
                > .render-list-products.grid-2 {
                    grid-row-gap: 20px;
                    grid-template-columns: repeat(1, 100%);
                    grid-auto-rows: 260px;
                    > .item-product {
                        //display: flex;
                        //background-color: antiquewhite;
                        flex-direction: row;
                        align-items: center;
                        height: 100%;
                        padding: 30px;
                        .img-product {
                            //background-color: aqua;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            width: 40%;
                            height: 80%;
                            border-radius: 0px;
                        }
                        .content {
                            //background-color: chocolate;
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            justify-content: center;
                            width: 60%;
                            height: 100%;
                            padding-left: 20px;
                            .product-name {
                                display: block;
                                padding: 0;
                                p {
                                    text-align: start;
                                }
                            }
                            .description {
                                display: block;
                                font-size: 0.75rem;
                                color: var(--body-text);
                            }
                        }
                        > .badge-top {
                            > .list-badge {
                                justify-content: flex-end;
                                align-items: center;
                                .badge-discount {
                                    margin-left: 10px;
                                }
                            }
                        }
                        > .badge-bottom {
                            height: 35%;
                        }
                    }
                  
                    @include sm {
                        grid-row-gap: 20px;
                        grid-template-columns: repeat(1, 100%);
                        grid-auto-rows: 280px;
                        .item-product {
                            .img-product {
                                width: 35%;
                            }
                        }
                    }
                    
                    @include lg {
                        grid-column-gap: 20px;
                        grid-row-gap: 40px;
                        grid-template-columns: repeat(2, calc(100% / 2 - 20px));
                        grid-auto-rows: 260px;
                        .item-product {
                            .img-product {
                                width: 35%;
                                height: 80%;
                            }
                        }
                    }
                    @include xl {
                        grid-column-gap: 20px;
                        grid-row-gap: 40px;
                        grid-template-columns: repeat(2, calc(100% / 2 - 20px));
                        grid-auto-rows: 280px;
                        .item-product {
                            .img-product {
                                width: 34%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// display: flex;
// align-items: center;
// >.img-product {
//     width: 40%;
//     // border-radius: 0px;
//     // height: 16.7rem;
//     //height: 315px;
// }
// >.content {
//     display: flex;
//     flex-direction: column;
//     align-items: start;
//     width: 60%;
//     padding-left: 1rem;
//     .product-name {
//         display: block;
//         padding: 0;
//         p {
//             text-align: start;
//         }
//     }
//     .description {
//         display: block;
//         font-size: 0.75rem;
//         color: var(--body-text);
//     }
// }
