@import "../../../assets/scss/media";

.footer-page {
    margin-bottom: 70px;
    padding: 50px 20px;
    font-weight: 600;
    @include lg {
        margin-bottom: 0px;
    }
    a {
        text-decoration: none;
    }
    background-color: #222;
    > .footer-top {
        > .item-logo {
            > .logo {
                > a {
                    > img {
                        filter: brightness(0) invert(1);
                        -webkit-filter: brightness(0) invert(1);
                    }
                }
            }
        }
        display: grid;
        align-items: start;
        //justify-content: space-between;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 20px;
        padding: 20px 0px;
        line-height: 25px;
        a,
        p {
            color: #777;
            font-size: 14.5px;
            font-weight: 500;
            transition: all 0.3s ease;
        }
        h4 {
            color: #fff;
            font-weight: 700;
            font-size: 16px;
        }
        h5 {
            color: var(--white);
            padding-bottom: 3px;
            font-size: 15px;
        }
        @include lg {
            grid-template-columns: 2fr 1fr 1fr 1fr;
            grid-column-gap: 50px;
            grid-row-gap: 0px;
        }
        .item-box {
        }
    }

    .footer-bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        line-height: 3;
        border-top: 1px solid rgba(#666, 0.2);
        padding: 30px 0px 0px 0px;
        p {
            color: #666666;
            font-size: 14px;
        }
        @include md {
            line-height: auto;
            justify-content: space-between;
        }
    }
}
